{namespace <%= blockNamespace %>.Template}

/**
 * Template for <%= blockNamespace %> block
 *
 * @param? params {{
 *     ?data: {
 *     }
 * }}
 * @constructor
 * @extends cl.iControl.Template
 */
{template .<%= blockName %>}
    {call .init data="all" /}
{/template}

/**
 * @override
 */
{template .body}

{/template}

/**
 * @override
 */
{template .rootClass}
    <%= rootClass %>
{/template}
