{namespace <%= blockNamespace %>.Template}

/**
 * @constructor
 * @extends aa.lActiveAge.iPage.Template
 */
{template .page}
    {call .init data="all"/}
{/template}

/**
 * @override
 */
{template .content}
{/template}

/**
 * @override
 */
{template .rootClass}
    <%= rootClass %>
{/template}
